{{#each this}}
<li class="country-item">
    <h2>{{name}}</h2>
    <div class="country-item-container">
       <div class="country-information">
           <p>Capital:<span>{{capital}}</span></p>
       <p>Population:<span>{{population}}</span></p>
       <p>Languages:<span><ul class="languages-list">
           {{#each languages}}
           <li class="language-list-item">{{name}}</li>
           {{/each}}
       </ul>
       </span></p> 
       </div>
       <img src="{{flag}}" alt="{{name}} flag" width="500px" height="auto">
    </div>
</li>
{{/each}}